<ion-content padding>
  <!--
  currUserPacketcount: {{currUserPacketCount}}<br/>
  currUserDistance: {{currUserTotalDistance}}<br/>
  challengPacketCount: {{challengerPacketCount}}<br/>
  challengDistance: {{challengerTotalDistance}}
  -->

  <ion-card *ngFor="let challenger of competition?.usersRun">
    <ion-card-content>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="'assets/img/avatars/' + challenger.avatar + '.png'">
        </ion-avatar>
        <h2 class="runner-name" text-wrap>{{challenger.firstname}} {{challenger.lastname}}</h2>

        <div *ngIf="(currUserTotalDistance === challengerTotalDistance)" class="status-tie"><p class="status">tie</p>
        </div>
        <div
          *ngIf="(challenger?.userId === currUserId ? currUserTotalDistance > challengerTotalDistance : currUserTotalDistance < challengerTotalDistance)"
          class="status-winning"><p class="status">winning</p></div>
        <div
          *ngIf="(challenger?.userId === currUserId ? currUserTotalDistance < challengerTotalDistance : currUserTotalDistance > challengerTotalDistance)"
          class="status-losing"><p class="status">losing</p></div>

      </ion-item>
    </ion-card-content>
    <ion-item-divider color="light">
      <span color="primary" class="distance">{{((challenger?.userId === currUserId ? currUserTotalDistance : challengerTotalDistance)*1000).toFixed(3)}}</span>
      <span class="divider">/</span>
      <span class="goal">{{competition?.goal?.distance}}m</span>
    </ion-item-divider>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" outline (click)="surrender()">Surrender</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
