<ion-content padding>
  currUserPacketcount: {{currUserPacketCount}}<br/>
  currUserDistance: {{currUserTotalDistance}}<br/>
  challengPacketCount: {{challengerPacketCount}}<br/>
  challengDistance: {{challengerTotalDistance}}

  <!--
  <ion-card *ngFor="let challenger of competition?.usersRun">
    <ion-card-content>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="'assets/img/avatars/' + challenger.avatar + '.png'">
        </ion-avatar>
        <h2>
          {{challenger.firstname}} {{challenger.lastname}}
        </h2>
        <h3>
          {{challenger.username}}
        </h3>
        {{(challenger.userId === currUserId ? currUserTotalDistance : challengerTotalDistance)}}
      </ion-item>
      <div class="readyIndicator"
      [ngClass]="{'ready': (challenger.userId === currUserId ? userReady : challengerReady)}"></div>
    </ion-card-content>
  </ion-card>
  -->

  <ion-card *ngFor="let challenger of competition?.usersRun">>
    <ion-card-content>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="'assets/img/avatars/' + challenger.avatar + '.png'">
        </ion-avatar>
        <h2 class="runner-name" text-wrap>{{challenger.firstname}} {{challenger.lastname}}</h2>

        <div *ngIf="(challenger.userId === currUserId ? currUserTotalDistance > challengerTotalDistance : currUserTotalDistance < challengerTotalDistance)" class="status-winning"><p class="status">winning</p></div>
        <div *ngIf="(challenger.userId === currUserId ? currUserTotalDistance < challengerTotalDistance : currUserTotalDistance > challengerTotalDistance)" class="status-losing"><p class="status">losing</p></div>
      </ion-item>
    </ion-card-content>
    <ion-item-divider color="light">
      <span color="primary" class="distance">{{(challenger.userId === currUserId ? currUserTotalDistance : challengerTotalDistance).toFixed(3)}}</span>
      <span class="divider">/</span>
      <span class="goal">{{goalDistance}}</span></ion-item-divider>
  </ion-card>

</ion-content>

<ion-footer>
  <button ion-button>Surrender</button>
</ion-footer>
