<ion-header>
  <ion-navbar color="primary">

  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page-requests">
  <div class="spinner" *ngIf="!requestsLoaded">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="requestsLoaded">
    <div class="no-data" *ngIf="requests.length === 0">
      <h5 class="no-data">No friendship requests at the moment. You can do friendship requests yourself by clicking the
        <strong>
          "Search friends" </strong>
        tab or come back later.</h5>
    </div>

    <ion-list *ngIf="requests.length!=0">

      <ion-list-header>Requests</ion-list-header>
      <div *ngFor="let request of requests">
        <ion-item>
          <ion-avatar item-left>
            <img [src]="'assets/img/avatars/' + request.avatar + '.png'">
          </ion-avatar>
          <h2>{{request.firstname}} {{request.lastname}}</h2>
          <p>{{request.username}}</p>
          <!--
          <ion-note item-right>
            <ion-icon class="accept" name="checkmark-circle" (click)="onClickAcceptFriend(request.username)"></ion-icon>
            <ion-icon class="decline" name="close-circle" (click)="onClickRemoveFriend(request.username)"></ion-icon>
          </ion-note>
          -->
          <div item-right>
            <div class="test">
              <ion-icon class="accept" name="checkmark-circle" (click)="onClickAcceptFriend(request.username)"></ion-icon>
            </div>
            <div class="test">
              <ion-icon class="decline" name="close-circle" (click)="onClickRemoveFriend(request.username)"></ion-icon>
            </div>
          </div>
        </ion-item>
      </div>

    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="onAddFriendsBtnClick()" id="button-addfriends">Add New Friend</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>


