page-friendrequests{
 .list-avatar-page-requests{
   .spinner{
     margin: auto;
     position: absolute;
     top: 0; left: 0; bottom: 0; right: 0;
     height: 85px;
     text-align: center;
   }
   .accept{
     color: limegreen;
     font-size: 1.5em;
     margin-right:3%;
   }
   .decline{
     color: red;
     font-size: 1.5em;
     margin-right:3%;
   }
   .no-data{
     text-align: center;
     margin-right: 5%;
     margin-left:5%;
     margin-top: 10%;
   }
 }
}
