page-friendrequests{

 .list-avatar-page-requests{

   .spinner{
     margin: auto;
     position: absolute;
     top: 0; left: 0; bottom: 0; right: 0;
     height: 85px;
     text-align: center;
   }

   .accept {
     display: inline-block;
     color: limegreen;
     font-size: 2.5em;
     margin-right: 20px;
   }

   .decline {
     display: inline-block;
     color: red;
     font-size: 2.5em;
     margin-right:3%;
   }

   .no-data{
     text-align: center;
     margin-right: 5%;
     margin-left:5%;
     margin-top: 10%;
   }

   .test {
     display: inline-block;
   }

 }
}
