page-editprofile{
  .home-background-page {
    ion-card-title {
      padding-left: 4.8%;
      padding-top: 4.8%;
      padding-bottom: 4.8%;
      font-weight: bold;
    }
    input{
      text-align: right;
    }
    .btn-save{

    }
  }

}
