<ion-header>
  <ion-navbar>
    <ion-title id="title">
      Edit profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home-background-page">
  <div class="spinner" *ngIf="coreInfo==null">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="coreInfo!=null">
    <ion-avatar id="avatar">
      <img class="avatar" [src]="'assets/img/avatars/' + user.avatar + '.png'">
    </ion-avatar>
    <div id="change-avatar">
    <button ion-button outline (click)="openModal()">Change avatar</button>
    </div>
    <ion-card>
      <ion-card-title>Personal info</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label color="primary">Username</ion-label>
          <ion-input (change)="onUsernameChange($event)" [(ngModel)]="user.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Firstname</ion-label>
          <ion-input [(ngModel)]="user.firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Lastname</ion-label>
          <ion-input [(ngModel)]="user.lastname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">City</ion-label>
          <ion-input [(ngModel)]="user.city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Birthday</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="user.birthday"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Gender</ion-label>
          <ion-select [(ngModel)]="user.gender">
            <ion-option value="MALE">Male</ion-option>
            <ion-option value="FEMALE">Female</ion-option>
            <ion-option value="UNDEFINED">Undefined</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card>

    <core-info id="core-info" [coreInfo]="coreInfo"></core-info>

    <button id="save-changes" *ngIf="coreInfo!=null" ion-button block ngdisabled="true"
            (click)="onClickUpdateUser(user)">Save changes
    </button>
  </div>
</ion-content>
