page-profile{
  .cogwheel{
    display: block;
    margin-left: 85%;
    text-align: right;
  }
  #profilepic{
    height: 20%;
    width: auto;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .fullname {
    text-align: center;
    margin-top:-5%;
    width: 100%;
    font-weight: bold;
  }
  .username{
    text-align: center;
    width: 100%;
  }
}
