<ion-header xmlns:color="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{userFromParam.username}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="friends-profile-page">
  <div class="spinner" *ngIf="coreInfo==null">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="coreInfo!=null">
    <div class="aligner-top">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col text-center class="border-bottom padding-bottom">
              <ion-avatar>
                <img class="avatar" [src]="'assets/img/avatars/' + userFromParam.avatar + '.png'">
              </ion-avatar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col text-center class="border-bottom padding-top">
              <div class="full-name">
                {{userFromParam.firstname}} {{userFromParam.lastname}}
              </div>
              <div class="user-info">
                {{userFromParam.username}}
              </div>
              <div class="user-info">
                {{userFromParam.city}}
              </div>
              <div class="user-info">
                {{userFromParam.birthday}}
              </div>
              <div class="user-info" *ngIf="userFromParam.gender=='MALE'">
                <ion-icon name="male"></ion-icon>
              </div>
              <div class="user-info" *ngIf="userFromParam.gender=='FEMALE'">
                <ion-icon name="female"></ion-icon>
              </div>
              <div class="user-info" *ngIf="userFromParam.gender=='UNDEFINED'">
                <ion-icon name="transgender"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <core-info [coreInfo]="coreInfo"></core-info>
    <button ion-button full (click)="onClickRemoveFriend(userFromParam.username)" color="danger">Delete friend</button>
  </div>
</ion-content>


