page-friends-profile{
  .friends-profile-page{
    .spinner{
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      height: 85px;
      text-align: center;
    }
    .avatar{
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height:50%;
      border-radius: 50%;
    }
    .full-name{
      font-size: 2rem;
    }
    .username{
      font-size: 1.5rem;
    }
    .user-info{
      margin-top: 5px;
    }
    .trophy{
      font-size: 2rem;
    }
    .trophy-won{
      color: gold;
      font-size: 2rem;
    }
    .user-data{
      font-size: 2rem;
      margin-top:1rem;
      color:#777777;
      font-weight: normal;
    }
    ion-col{
      font-weight: 500;
    }
  }

}
