<ion-header>
  <ion-navbar color="primary">

  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
      <ion-spinner></ion-spinner>
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="queryStringMyFriends"></ion-searchbar>
  <div class="spinner" *ngIf="!friendsLoaded">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="friendsLoaded">
  <ion-list>
    <ion-list-header id="online-friends">Online</ion-list-header>
    <div *ngFor="let friend of friends | SearchPipe:queryStringMyFriends" (click)="onFriendClick(friend)">
      <ion-item *ngIf="friend.online">
        <ion-avatar item-left>
          <img [src]="'assets/img/avatars/' + friend.avatar + '.png'">
        </ion-avatar>
        <h2>{{friend.firstname}} {{friend.lastname}}</h2>
        <p>{{friend.username}}</p>
        <ion-note item-right>
          <ion-icon class="is-online" name="radio-button-on"></ion-icon>
        </ion-note>
      </ion-item>
    </div>

  </ion-list>


  <ion-list>
    <ion-list-header id="offline-friends">Offline</ion-list-header>
    <div *ngFor="let friend of friends | SearchPipe:queryStringMyFriends">
      <ion-item *ngIf="!friend.online" (click)="onFriendClick(friend)">
        <ion-avatar item-left>
          <img [src]="'assets/img/avatars/' + friend.avatar + '.png'">
        </ion-avatar>
        <h2>{{friend.firstname}} {{friend.lastname}}</h2>
        <p>{{friend.username}}</p>
        <ion-note item-right>
          <ion-icon class="is-offline" name="radio-button-on"></ion-icon>
        </ion-note>
      </ion-item>
    </div>
  </ion-list>
  </div>

</ion-content>



