page-home {

  .home-background-page {
    ion-card {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      height: 14%;
      position: relative;
      text-align: center;
    }
    img{
      filter: brightness(45%);
    }
    .card-greeting{
      top:-3%;
      height: 7%;
    }
    .card-title {
      position: absolute;
      top: 15%;
      font-size: 1.4em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-content{
      position: absolute;
      top: 70%;
      font-size: 1.0em;
      width: 100%;
      color: #fff;
    }
    .largecard{
      top:-3%;
      height: 35%;
    }
    .smallcard{
      top:-3%;
      height: 19%;
    }
    .card-title-greeting{
      position: absolute;
      top:18%;
      font-size: 1.4em;
      left: 8%;
      font-weight: bold;
      color: #000000;
    }
    .card-subtitle-middle{
      font-size: 1.3em;
      position: absolute;
      top: 45%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle-right{
      font-size: 1.3em;
      position: absolute;
      left: 30%;
      top: 45%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle-left{
      font-size: 1.3em;
      position: absolute;
      left: -30%;
      top: 45%;
      width: 100%;
      color: #fff;
    }
    .card-content-right{
      position: absolute;
      left: 30%;
      top: 70%;
      font-size: 1.0em;
      width: 100%;
      color: #fff;
    }
    .card-content-left{
      position: absolute;
      left: -30%;
      top: 70%;
      font-size: 1.0em;
      width: 100%;
      color: #fff;
    }

  }

  ion-toolbar {
    background-color: #387ef5;
  }

}




