<ion-header>
  <ion-navbar>
    <ion-title>
      {{this.tabRef?.getSelected()?.tabTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-tabs #tabs selectedIndex="0">
  <ion-tab [root]="friendsPage" tabTitle="Friends" tabIcon="people" tab></ion-tab>
  <ion-tab *ngIf="requests.length === 0" [root]="friendRequestsPage" tabTitle="Requests" tabIcon="person-add"></ion-tab>
  <ion-tab *ngIf="requests.length !== 0" [root]="friendRequestsPage" tabTitle="Requests" tabIcon="person-add"
           tabBadge="{{requests.length}}" tabBadgeStyle="danger"></ion-tab>
</ion-tabs>
