page-challenge-load {
  div {

    .ready {
      background-color: #2ec95c !important;
    }

    .state-waiting {
      text-align: center;
      color: darkgray;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.8em;
    }

    .state-ready {
      text-align: center;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.8em;
    }

  }

  ion-content {
    .fixed-content {
      background-color: #387ef5;
    }
  }

  ion-footer {
    background-color: #387ef5;
  }


}
