page-ranking {
  .category{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .spinner {
    margin: auto;
    position: absolute;
    top: 3rem;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    text-align: center;
  }
  .button-user-select{
    margin-top: 3%;
  }
  .ranking-header {
    font-weight: bold;
    text-align: left;
  }
  #orderby-select {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: grey;
  }
  .btn-passive {
    background-color: lightgray;
    color: grey;
    border-radius: 0.5rem;
  }
  .btn-active {
    background-color: #387ef5;
    border-radius: 0.5rem;
    color: white;
  }
  ion-select {
    margin: auto;
    max-width: 100%;
  }
  #button-world {
    margin-left: 10%;
  }

  #button-friends {
    margin-right: 10%;
  }
  #button-world-text{
    margin-left: 5%;
  }
  #button-friends-text{
    margin-left: 5%;
  }

  h1 {
    text-align: center;
  }
}



