page-ranking{
  .ranking-header{
    font-weight:bold;
    text-align: left;
  }
  .first-row{
    background-color: #fae157;
    font-size: 2rem;
    font-weight: bold;
  }
  #orderby-select {
    margin-top: 4rem;
    margin-bottom: 7rem;
    color: grey;
  }
  .gold{
    color: #fae157;
    margin-bottom: 2rem;
  }
  .btn-passive{
    background-color:white;
  }
  .btn-active{
    background-color:lightgray;
  }
  ion-select{
    margin:auto;
  }
}



