#tracking-result {
  border-radius: 20px;
  box-shadow: 0 0 0 rgba(204,169,44, 0.6);
}

page-tracking-result {

  ion-content {

    .fixed-content {
      background-color: #387ef5;
    }

    .aligner-top {
      height: 94%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #tracking-result {

      ion-col {
        text-transform: uppercase;
        font-weight: 700;
        color: lightgray;
        font-size: 0.8em;
        letter-spacing: 1px;
      }

      .border-bottom {
        border-bottom: 1px solid lightgray;
      }

      .border-right {
        border-right: 1px solid lightgray;
      }

      .padding-top {
        padding-top: 10px;
      }

      .padding-bottom {
        padding-bottom: 10px;
      }

      #time {
        display: block;
        text-transform: none;
        font-weight: 400;
        font-size: 2.5em;
        letter-spacing: 0;
        color: #387ef5;
      }

      #distance {
        display: block;
        text-transform: none;
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 0;
        color: #5e5e5e;
      }

      #avg-speed {
        display: block;
        text-transform: none;
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 0;
        color: #5e5e5e;
      }

      #max-speed {
        display: block;
        text-transform: none;
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 0;
        color: #5e5e5e;
      }

      #avg-pace {
        display: block;
        text-transform: none;
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 0;
        color: #5e5e5e;
      }

      #resultmap {
        margin: 0 auto;
        width: 100%;
        min-height: 100px;
        border-radius: 2px;
      }

    }

    .aligner-bottom {
      height: 6%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
