<div>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col width-33.3 text-center>
          <div *ngIf="coreInfo?.ranTenKm==null">
            <ion-icon class="trophy" name="trophy"></ion-icon>
          </div>
          <div *ngIf="coreInfo?.ranTenKm==false">
            <ion-icon class="trophy" name="trophy"></ion-icon>
          </div>
          <div *ngIf="coreInfo?.ranTenKm==true">
            <ion-icon class="trophy-won" name="trophy"></ion-icon>
          </div>
          10 km
        </ion-col>
        <ion-col width-33.3 text-center>
          <div *ngIf="coreInfo?.ranTenKm==null">
            <ion-icon class="trophy" name="trophy"></ion-icon>
          </div>
          <div *ngIf="coreInfo?.ranTwentyKm==false">
            <ion-icon class="trophy" name="trophy"></ion-icon>
          </div>
          <div *ngIf="coreInfo?.ranTwentyKm==true">
            <ion-icon class="trophy-won" name="trophy"></ion-icon>
          </div>
          20 km
        </ion-col>
        <ion-col width-33.3 text-center>
          <div *ngIf="coreInfo?.ranTenKm==null">
            <ion-icon class="trophy" name="trophy"></ion-icon>
          </div>
          <div *ngIf="coreInfo?.ranMarathon==false">
            <ion-icon class="trophy" name="trophy"></ion-icon>
          </div>
          <div *ngIf="coreInfo?.ranMarathon==true">
            <ion-icon class="trophy-won" name="trophy"></ion-icon>
          </div>
          Marathon
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
<div *ngIf="coreInfo!=null">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col width-50 text-center>
          <div class="user-data">
            {{coreInfo?.nrOfCompetitionsWon}}
          </div>
          Competitions won
        </ion-col>
        <ion-col width-50 text-center>
          <div class="user-data">
            {{coreInfo?.nrOfCompetitionsDone}}
          </div>
          Competitions done
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50 text-center>
          <div class="user-data">
            {{coreInfo?.maxSpeed | number : '1.0-2'}} km/h
          </div>
          Maximum speed
        </ion-col>
        <ion-col width-50 text-center>
          <div class="user-data">
            {{coreInfo?.avgSpeed | number : '1.0-2'}} km/h
          </div>
          Average speed
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33 text-center>
          <div class="user-data">
            {{coreInfo?.maxDistance | number : '1.0-2'}} km
          </div>
          Maximum distance
        </ion-col>
        <ion-col width-33 text-center>
          <div class="user-data">
            {{coreInfo?.avgDistance | number : '1.0-2'}} km
          </div>
          Average distance
        </ion-col>
        <ion-col width-33 text-center>
          <div class="user-data">
            {{coreInfo?.totalDistance | number : '1.0-2'}} km
          </div>
          Total distance
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
