core-info {
  .trophy{
    font-size: 2em;
  }
  .trophy-won{
    color: gold;
    font-size: 2em;
  }
  .user-data{
    font-size: 2rem;
    margin-top:1rem;
    color:#777777;
    font-weight: normal;
  }
  ion-col{
    font-weight: 500;
  }
}



